* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.movies-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  padding: 50px;
}

.movie {
  width: 10%;
  align-self: flex-start;
}
